{# src/CakeBundle/Resources/views/create_cake.html.twig #}
{% extends 'CakeBundle::base.html.twig' %}

{% block title %}Stwórz własny tort - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                {{ form_start(form, {'attr': {'class' : 'form-horizontal'}}) }}
                <hr>
                <h2 class="intro-text text-center">Zamów <strong>tort</strong></h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl
                    vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante
                    ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et
                    malesuada fames ac turpis egestas.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl
                    vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante
                    ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et
                    malesuada fames ac turpis egestas.</p>


                <div class="cake-ingredient-pane"
                     style="background-image: url('{{ asset('img/creator/spongecake.jpg') }}')">

                    <h2 id="rodzaj_biszkoptu">Rodzaj biszkoptu</h2>

                    <div class="col-xs-12 col-md-5 col-md-offset-1 fog">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl
                            vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante
                            ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas.</p>
                    </div>
                    <div class="col-xs-10 col-xs-offset-2 col-md-4 col-md-offset-1 fog">
                        <div class="form-group">
                            {{ form_errors(form.cake.spongeType) }}
                            {{ form_widget(form.cake.spongeType) }}
                        </div>
                    </div>
                </div>

                <div class="cake-ingredient-pane"
                     style="background-image: url('{{ asset('img/creator/soak.jpg') }}')">

                    <h2 id="nasączenie">Nasączenie</h2>

                    <div class="col-xs-12 col-md-5 col-md-offset-1 fog">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl
                            vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante
                            ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas.</p>
                    </div>
                    <div class="col-xs-10 col-xs-offset-2 col-md-4 col-md-offset-1 fog">
                        <div class="form-group">
                            {{ form_errors(form.cake.soak) }}
                            {{ form_widget(form.cake.soak) }}
                        </div>
                    </div>
                </div>

                <div class="cake-ingredient-pane"
                     style="background-image: url('{{ asset('img/creator/buttercream.jpg') }}')">

                    <h2 id="krem">Krem</h2>

                    <div class="col-xs-12 col-md-5 col-md-offset-1 fog">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl
                            vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante
                            ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas.</p>
                    </div>
                    <div class="col-xs-10 col-xs-offset-2 col-md-4 col-md-offset-1 fog">
                        <div class="form-group">
                            {{ form_errors(form.cake.buttercreams) }}
                            {{ form_widget(form.cake.buttercreams) }}
                        </div>
                    </div>
                </div>

                <div class="cake-ingredient-pane"
                     style="background-image: url('{{ asset('img/creator/frosting.jpg') }}')">

                    <h2 id="pokrycie">Pokrycie</h2>

                    <div class="col-xs-12 col-md-5 col-md-offset-1 fog">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl
                            vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante
                            ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas.</p>
                    </div>
                    <div class="col-xs-10 col-xs-offset-2 col-md-4 col-md-offset-1 fog">
                        <div class="form-group">
                            {{ form_errors(form.cake.frosting) }}
                            {{ form_widget(form.cake.frosting) }}
                        </div>
                    </div>
                </div>

                <div class="cake-ingredient-pane"
                     style="background-image: url('{{ asset('img/creator/portions.jpg') }}')">

                    <h2 id="rozmiar">Rozmiar</h2>

                    <div class="col-xs-12 col-md-5 col-md-offset-1 fog">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl
                            vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante
                            ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas.</p>
                    </div>
                    <div class="col-xs-10 col-xs-offset-2 col-md-4 col-md-offset-1 fog">
                        <div class="form-group">
                            {{ form_errors(form.portions) }}
                            {{ form_widget(form.portions) }}

                            {{ form_label(form.numberOfFloors,
                            'Piętra',
                            {'label_attr': {'class': 'control-label'}}
                            ) }}
                            {{ form_errors(form.numberOfFloors) }}
                            {{ form_widget(form.numberOfFloors) }}
                        </div>
                    </div>
                </div>

                <div class="cake-ingredient-pane"
                     style="background-image: url('{{ asset('img/creator/cake_box.jpg') }}')">

                    <h2 id="odbior">Odbiór</h2>

                    <div class="col-xs-12 col-md-5 col-md-offset-1 fog">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl
                            vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames.</p>
                        {{ form_label(form.notes,
                        'Uwagi',
                        {'label_attr': {'class': 'control-label'}}
                        ) }}
                        {{ form_errors(form.notes) }}
                        {{ form_widget(form.notes) }}

                    </div>
                    <div class="col-xs-10 col-xs-offset-2 col-md-4 col-md-offset-1 fog">
                        <div class="form-group">
                            {{ form_label(form.portions,
                            'Dzień odbioru',
                            {'label_attr': {'class': 'control-label'}}
                            ) }}
                            {{ form_errors(form.deliveryDate) }}
                            {{ form_widget(form.deliveryDate) }}

                            {{ form_label(form.phone,
                            'Numer telefonu',
                            {'label_attr': {'class': 'control-label'}}
                            ) }}
                            {{ form_errors(form.phone) }}
                            {{ form_widget(form.phone) }}

                            {{ form_label(form.email,
                            'Adres email',
                            {'label_attr': {'class': 'control-label'}}
                            ) }}
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        {{ form_widget(form.order,  {'attr': {'class': 'btn btn-success btn-lg btn-block'}}) }}
                    </div>
                </div>

                <div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}